.educationContainer {
    height: calc(var(--width_dim)/2.2);
    border-radius: 10px;
    /* border: 1px solid white; */
    padding: 2vw 0 0 5vw;
    overflow: hidden;
    caret-color: transparent;
    h2{
        color: white;
        width: 90vw;
        font-size: 2vw;
        text-align: justify;
    }
    p{
        margin: 0px;
    }
    span{
        color: #4EFF00;
    }
    .eduTitleContainer{
        position: relative;
        top: -35vw;
    }

    .eduTitle_1 {
        width: 180vw;
        height: 4vw;
        background-color: #4EFF00;
        transform: rotate(5deg);
        position: relative;
        right: 70vw;
        opacity: 50%;
    }
    .eduTitle_2 {
        width: 180vw;
        height: 4vw;
        background-color: #4EFF00;
        transform: rotate(-5deg);
        position: relative;
        right: 70vw;
    }

    h1 {
        font-size: 3.5vw;
        font-weight: 900;
        font-family: fantasy;
        margin: 0px;
    }
    .uniLogo{
        opacity: 10%;
        position: relative;
        top: -25vw;
        left: 50vw;
        width: 40vw;
        height: auto;
        filter: drop-shadow(0 0 0.9rem #4EFF00) blur(.4rem);    }
}
@keyframes translate {
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(16.2vw);

    }
}
.translate {
    animation: translate 50s linear infinite;
}
.translateBackwords {
    animation: translate 50s linear infinite reverse;
}

@media screen and (max-width: 1024px) {
    div#education{
        height: 100vh;
    }
    div#education h2{
        font-size: 4.5vw;
        text-align: left;
    }
    div#education .eduTitleContainer{
        scale: 2;
        top: -35vh;
    }
    div#education .uniLogo{
        width: 45vh;
        top: -40vh;
        left: 18vw;
    }
 }
 @media screen and (max-width: 500px) {
    div#education h2{
        font-size: 6.5vw;
        text-align: left;
    }
    div#education .eduTitleContainer{
        scale: 2;
        top: -45vh;
    }
 }