
.expContainer{
    height: calc(var(--width_dim)/1.77);
    /* width: var(--width_dim); */
    /* background-color: red; */
    border-radius: 10px;
    border: 1px rgb(117, 117, 117) solid;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    overflow: hidden;
    caret-color: transparent;

    h1{
        font-size: 5vw;
        font-weight: 900;
        font-family: fantasy;
        color: #4EFF00;
        margin-left: 2vw;
        margin-bottom: 0;
        transform: translate(1vw,1.5vw);
        position: relative;
        width: fit-content;
        
    }
    h1:hover{
        cursor: pointer;
        filter:drop-shadow(0px 0px 20px #4EFF00);
    }
}
.reactJsPng{
    width: 50vw;
    height: 50vw;
    background-image: url("/Abdelzaher-Portfolio/images/React-logo2.png");
    background-size: 35vw;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(-16px 6px 17px #4EFF00) blur(.4rem);
    opacity: 8%;
    z-index: -3;
    position: relative;
    left: -20px;
}
.htmlPng{
    width: 50vw;
    height: 50vw;
    position: relative;
    left: -65vw;
    background-image: url("/Abdelzaher-Portfolio/images/Html.png");
    background-size: 11vw;
    background-position: top 2vw left 40vw;
    background-repeat: no-repeat;
    background-position: center;
    top: -15vw;
    filter: drop-shadow(0px 0px 10px #4EFF00) blur(0.1rem);
    opacity: 10%;
    z-index: -1;

}
.cssPng{
    width: 50vw;
    height: 50vw;
    position: relative;
    left: -118vw;
    background-image: url("/Abdelzaher-Portfolio/images/css.png");
    background-size: 11vw;
    background-position: top 2vw left 40vw;
    background-repeat: no-repeat;
    background-position: center;
    top: 8vw;
    filter: drop-shadow(0px 0px 10px #4EFF00) blur(0.1rem);
    opacity: 10%;
    z-index: -1;
}
.jsPng{
    width: 50vw;
    height: 50vw;
    position: relative;
    left: -140vw;
    background-image: url("/Abdelzaher-Portfolio/images/js.png");
    background-size: 11vw;
    background-position: top 2vw left 40vw;
    background-repeat: no-repeat;
    background-position: center;
    top: -5vw;
    filter: drop-shadow(0px 0px 10px #4EFF00) blur(0.1rem);
    opacity: 10%;
}

.expCard{
    height: calc(15vw/1.788);
    width: 12vw;
    background-color: rgb(48, 48, 48);;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 1vw;
    text-align: center;
    align-content: space-evenly;

    h2{
        margin: 1vw;
        color: white;
        font-size: 2.2vw;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 300;
    }
}
.expCard:hover{
    cursor: pointer;
    scale: 1.1;
    filter:drop-shadow(0px 0px 20px #ffffff);
}
.tabletScreen{
    height: calc(60vw / 1.788);
    width: 50vw;
    background-color: #1E1E1E;
    caret-color: transparent;
    border: .5vw solid rgb(74, 74, 74);
    margin-left: 2vw;
    border-radius: 1rem;
    /* overflow: hidden; */
    position: relative;
    display: grid;
    row-gap: 0vw;
    align-items: center;
    justify-items: center;
    z-index: 1;
    
    .tabRow{
        display: flex;
        justify-content: space-around;
        column-gap: 3vw;
    }
    
}
.expAssets{
    display: flex;
    position: relative;
    z-index: -1;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 50s linear infinite;
}
@media screen and (max-width: 1024px) {
    div#experience{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: flex-start;
        height: max-content;
        padding-bottom: 9vh;
    }
    .expAssets{
        display: flex;
        scale: 1.8;
        left: 95vw;

        .reactJsPng{
            filter: drop-shadow(-16px 6px 17px #4EFF00) blur(.3rem);
        }
    }
    .expContent{
        width: 80%;
        transform: translate(0,6vw);
        object-fit: cover;
    }
    .tabletScreen{
        height: fit-content;
        width: 100%;
        margin-left: 0;
        padding-top: 1vw;
        
    }
    .tabletScreen .tabRow{
        display: block;
        width: 90%;
    }
    .tabletScreen .expCard{
        margin-bottom: 1vw;
        width: 100%;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .tabletScreen .tabRow h2{
        font-size: 4vw;
        margin: 2px;
    }
    .expContainer h1{
        font-size: 7vw;
    }
}